This tutorial is about groupby method for pandas dataframes

In [1]:
import numpy as np
import pandas as pd

Make a dummy pandas data frame

In [2]:
df = pd.DataFrame([[1.1, 1.1, 1.1, 2.6, 2.5, 3.4,2.6,2.6,3.4,3.4,2.6,1.1,1.1,3.3], list('AAABBBBABCBDDD'), [1.1, 1.7, 2.5, 2.6, 3.3, 3.8,4.0,4.2,4.3,4.5,4.6,4.7,4.7,4.8], ['x/y/z','x/y','x/y/z/n','x/u','x','x/u/v','x/y/z','x','x/u/v/b','-','x/y','x/y/z','x','x/u/v/w'],['1','3','3','2','4','2','5','3','6','3','5','1','1','1']]).T
df.columns = ['col1','col2','col3','col4','col5']


# this dummy dataframe is taken from "https://stackoverflow.com/questions/17679089/pandas-dataframe-groupby-two-columns-and-get-counts". 

#I decided to extend all the possible concepts discussed in the above thread after playing around a little bit with this dataset

In [3]:
df #observing the original dataframe

   col1 col2 col3     col4 col5
0   1.1    A  1.1    x/y/z    1
1   1.1    A  1.7      x/y    3
2   1.1    A  2.5  x/y/z/n    3
3   2.6    B  2.6      x/u    2
4   2.5    B  3.3        x    4
5   3.4    B  3.8    x/u/v    2
6   2.6    B    4    x/y/z    5
7   2.6    A  4.2        x    3
8   3.4    B  4.3  x/u/v/b    6
9   3.4    C  4.5        -    3
10  2.6    B  4.6      x/y    5
11  1.1    D  4.7    x/y/z    1
12  1.1    D  4.7        x    1
13  3.3    D  4.8  x/u/v/w    1

In [5]:
#Lets first make a grupbyobject by grouping on only col2

ds=df.groupby('col2')

In [7]:
#Now, ds is a groupby object and we cannot use it like a simple pandas dataframe
print(ds)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f79ff05c5f8>

In [33]:
#So how to access the groups and the keys?

#we an use either get_group() method for ds groupby object(for this we would want to know the key values beforehand) or use a for loop. Both the methods are shown below


#get_group() method first

#how to get the keys?
print(ds.groups.keys(), '\n\n')

#now that we have the keys, we can use get_group method to access the individual dataframes associated with these keys

print(ds.get_group('A'))
print("\n\n")
print("Data type of ds.get_group('A') is:-",  type(ds.get_group('A')))

#observe that the data type of ds.get_group('A') is pandas dataframe!!
#also, observe that the index of dataframe corresponding to key 'A' are same as index of original rows corresponding to 'A' key
#upon using the reset_index() method, we see that an additional column with name 'index' is created
#we can remove that with drop() method of pandas dataframe

print('\n\n')

print("Using the same indices as the original dataframe for rows corresponding to key 'A':-\n")
print(ds.get_group('A'))
print("\n\n")
print("After using the reset_index() method, new column 'index' being created:-\n")
print(ds.get_group('A').reset_index(),"\n\n")
print("Drop this new 'index' column with:-\n ")
print(ds.get_group('A').reset_index().drop(['index'],axis=1))

dict_keys(['A', 'B', 'C', 'D'])


  col1 col2 col3     col4 col5
0  1.1    A  1.1    x/y/z    1
1  1.1    A  1.7      x/y    3
2  1.1    A  2.5  x/y/z/n    3
7  2.6    A  4.2        x    3



Data type of ds.get_group('A') is:- <class 'pandas.core.frame.DataFrame'>



Using the same indices as the original dataframe for rows corresponding to key 'A':-

  col1 col2 col3     col4 col5
0  1.1    A  1.1    x/y/z    1
1  1.1    A  1.7      x/y    3
2  1.1    A  2.5  x/y/z/n    3
7  2.6    A  4.2        x    3



After using the reset_index() method, new column 'index' being created:-

   index col1 col2 col3     col4 col5
0      0  1.1    A  1.1    x/y/z    1
1      1  1.1    A  1.7      x/y    3
2      2  1.1    A  2.5  x/y/z/n    3
3      7  2.6    A  4.2        x    3


Drop this new 'index' column with:-

  col1 col2 col3     col4 col5
0  1.1    A  1.1    x/y/z    1
1  1.1    A  1.7      x/y    3
2  1.1    A  2.5  x/y/z/n    3
3  2.6    A  4.2        x    3

In [39]:
#Now using the for loop:-

for key, grp in ds:
  print('The key for below dataframe is:- ',key)
  print(ds.get_group(key).reset_index().drop(['index'],axis=1),'\n\n')

The key for below dataframe is:-  A
  col1 col2 col3     col4 col5
0  1.1    A  1.1    x/y/z    1
1  1.1    A  1.7      x/y    3
2  1.1    A  2.5  x/y/z/n    3
3  2.6    A  4.2        x    3


The key for below dataframe is:-  B
  col1 col2 col3     col4 col5
0  2.6    B  2.6      x/u    2
1  2.5    B  3.3        x    4
2  3.4    B  3.8    x/u/v    2
3  2.6    B    4    x/y/z    5
4  3.4    B  4.3  x/u/v/b    6
5  2.6    B  4.6      x/y    5


The key for below dataframe is:-  C
  col1 col2 col3 col4 col5
0  3.4    C  4.5    -    3


The key for below dataframe is:-  D
  col1 col2 col3     col4 col5
0  1.1    D  4.7    x/y/z    1
1  1.1    D  4.7        x    1
2  3.3    D  4.8  x/u/v/w    1

Now we will groupby on 2 columns and consequetively see the aggregations on other columns

In [41]:
#Observe the difference between grouping on ['col5','col2'] and ['col2','col5']

ds1=df.groupby(['col5','col2'])
ds2=df.groupby(['col2','col5'])

print(ds1.describe(),'\n\n')
print(ds2.describe())

           col1                   col3  ...       col4
          count unique  top freq count  ... freq count unique      top freq
col5 col2                               ...
1    A      1.0    1.0  1.1  1.0   1.0  ...  1.0     1      1    x/y/z    1
     D      3.0    2.0  1.1  2.0   3.0  ...  2.0     3      3  x/u/v/w    1
2    B      2.0    2.0  3.4  1.0   2.0  ...  1.0     2      2      x/u    1
3    A      3.0    2.0  1.1  2.0   3.0  ...  1.0     3      3      x/y    1
     C      1.0    1.0  3.4  1.0   1.0  ...  1.0     1      1        -    1
4    B      1.0    1.0  2.5  1.0   1.0  ...  1.0     1      1        x    1
5    B      2.0    1.0  2.6  2.0   2.0  ...  1.0     2      2      x/y    1
6    B      1.0    1.0  3.4  1.0   1.0  ...  1.0     1      1  x/u/v/b    1

[8 rows x 12 columns]


           col1                   col3  ...       col4
          count unique  top freq count  ... freq count unique      top freq
col2 col5                               ...
A    1      1.0    1.0  1.1  1.0   1.0  ...  1.0     1      1    x/y/z    1
     3      3.0    2.0  1.1  2.0   3.0  ...  1.0     3      3      x/y    1
B    2      2.0    2.0  3.4  1.0   2.0  ...  1.0     2      2      x/u    1
     4      1.0    1.0  2.5  1.0   1.0  ...  1.0     1      1        x    1
     5      2.0    1.0  2.6  2.0   2.0  ...  1.0     2      2      x/y    1
     6      1.0    1.0  3.4  1.0   1.0  ...  1.0     1      1  x/u/v/b    1
C    3      1.0    1.0  3.4  1.0   1.0  ...  1.0     1      1        -    1
D    1      3.0    2.0  1.1  2.0   3.0  ...  2.0     3      3  x/u/v/w    1

[8 rows x 12 columns]

In [44]:
for key, grp in ds1:
  print(f'The dataframe for {key} key is:-')
  print(grp.reset_index().drop(['index'],axis=1),'\n\n') #here we can also do ds1(key).reset_index()....

The dataframe for ('1', 'A') key is:-
  col1 col2 col3   col4 col5
0  1.1    A  1.1  x/y/z    1


The dataframe for ('1', 'D') key is:-
  col1 col2 col3     col4 col5
0  1.1    D  4.7    x/y/z    1
1  1.1    D  4.7        x    1
2  3.3    D  4.8  x/u/v/w    1


The dataframe for ('2', 'B') key is:-
  col1 col2 col3   col4 col5
0  2.6    B  2.6    x/u    2
1  3.4    B  3.8  x/u/v    2


The dataframe for ('3', 'A') key is:-
  col1 col2 col3     col4 col5
0  1.1    A  1.7      x/y    3
1  1.1    A  2.5  x/y/z/n    3
2  2.6    A  4.2        x    3


The dataframe for ('3', 'C') key is:-
  col1 col2 col3 col4 col5
0  3.4    C  4.5    -    3


The dataframe for ('4', 'B') key is:-
  col1 col2 col3 col4 col5
0  2.5    B  3.3    x    4


The dataframe for ('5', 'B') key is:-
  col1 col2 col3   col4 col5
0  2.6    B    4  x/y/z    5
1  2.6    B  4.6    x/y    5


The dataframe for ('6', 'B') key is:-
  col1 col2 col3     col4 col5
0  3.4    B  4.3  x/u/v/b    6

In [45]:
for key, grp in ds2:
  print(f'The dataframe for {key} key is:-')
  print(grp.reset_index().drop(['index'],axis=1),'\n\n') #here we can also do ds2(key).reset_index()....

The dataframe for ('A', '1') key is:-
  col1 col2 col3   col4 col5
0  1.1    A  1.1  x/y/z    1


The dataframe for ('A', '3') key is:-
  col1 col2 col3     col4 col5
0  1.1    A  1.7      x/y    3
1  1.1    A  2.5  x/y/z/n    3
2  2.6    A  4.2        x    3


The dataframe for ('B', '2') key is:-
  col1 col2 col3   col4 col5
0  2.6    B  2.6    x/u    2
1  3.4    B  3.8  x/u/v    2


The dataframe for ('B', '4') key is:-
  col1 col2 col3 col4 col5
0  2.5    B  3.3    x    4


The dataframe for ('B', '5') key is:-
  col1 col2 col3   col4 col5
0  2.6    B    4  x/y/z    5
1  2.6    B  4.6    x/y    5


The dataframe for ('B', '6') key is:-
  col1 col2 col3     col4 col5
0  3.4    B  4.3  x/u/v/b    6


The dataframe for ('C', '3') key is:-
  col1 col2 col3 col4 col5
0  3.4    C  4.5    -    3


The dataframe for ('D', '1') key is:-
  col1 col2 col3     col4 col5
0  1.1    D  4.7    x/y/z    1
1  1.1    D  4.7        x    1
2  3.3    D  4.8  x/u/v/w    1

In [48]:
#Thing is, it matters if we are using col2 before col5. It will groupby by col2 first and then groupby by col5. Reverse thing if we groupby by col5 first and then  col2





#Now use the aggregate functions (say 'count' funcion) for col1(say)

#We cannot access the col1 by simply doing ds1['col1']. It will throw a series groupby object related to col1
ds1['col1']

In [58]:
#we can just access the value of col1 corresponding to some key in ds1 groupby object. Like below
ds1.get_group(('1','A')).col1.to_list()[0]

1.1

In [61]:
#Or, we can use count() method for col1 under ds1 groupby object to get count of col1 under each key (col2, col5)

print(ds1.col1.count())
print('\n\n')
print(type(ds1.col1.count()))# observe the datatype

col5  col2
1     A       1
      D       3
2     B       2
3     A       3
      C       1
4     B       1
5     B       2
6     B       1
Name: col1, dtype: int64



<class 'pandas.core.series.Series'>

In [63]:
#We can use the reset_index() method to get a dataframe like below:-

print(ds1.col1.count().reset_index())
print(type(ds1.col1.count().reset_index()))#now observe the datatype of the this object. It is clearly different from output of above cell!!

  col5 col2  col1
0    1    A     1
1    1    D     3
2    2    B     2
3    3    A     3
4    3    C     1
5    4    B     1
6    5    B     2
7    6    B     1
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#See the link "https://stackoverflow.com/questions/17679089/pandas-dataframe-groupby-two-columns-and-get-counts" for use of size() method